.section_one {
  background-image: url("../../assets/img4.jpg");
}
.section_two {
  background-image: url("../../assets/img6.jpg");
}

.text_box {
  background-color: #43c0df80;
}
.text_box_two {
  color: white;
  background-color: hsla(0, 0%, 12%, 0.6);
}
.text_box_two p {
  margin: 0 auto 10px;
}
.btn {
  margin-top: 30px;
}
