<section class="section section_one">
  <div class="text_box">
    <p>Trabajamos con materias primas frescas y de calidad.</p>
    <p>
      Brindamos productos artesanales, hechos a mano y con la seguridad de una
      alimentación saludable para toda su familia.
    </p>
  </div>
</section>
<section class="section section_two">
  <div class="curtain">
    <div class="text_box text_box_two">
      <p>
        No olvides de consultar por nuestros productos y hacernos pedidos con
        reservación.
      </p>
      <a class="btn" href="#productos">Ver productos</a>
    </div>
  </div>
</section>
