nav {
  position: fixed;
  z-index: 9;
  background: transparent;
  top: 0;
  width: 100vw;
  height: fit-content;
  padding: 7px 0;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  list-style: none;
}
a {
  font-size: 0.9rem;
  color: white;
  border-bottom: 1px ridge white;
}
a:hover {
  color: red;
  border-bottom: 1px ridge red;
}

@media screen and (min-width: 600px) {
  li {
    font-size: 3rem;
  }
}
