@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courgette", cursiva;
}
.palette {
  color: #e22279;
  color: #f991a8;
  color: #f181b3; /*  */
  color: #016768;
  color: #41c2d7;
  color: #44c1df; /*  */
  color: #1fbfb8;
  color: #f5f6e0; /*  */
  color: #ebd834;
  color: #ced3cf;
  color: #5dc460;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
.section {
  min-height: 100vh;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.text_box {
  width: 90%;
  margin: 40px auto 0;
  padding: 10px;
  font-size: 1rem;
  line-height: 1.8;
  text-align: center;
  border-radius: 20px;
  z-index: 2;
}
.curtain {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.btn {
  color: white;
  padding: 10px 15px;
  background: linear-gradient(0deg, #000, #000, rgb(68, 68, 68));
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 1.2px;
  cursor: pointer;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
  box-shadow: rgba(0, 0, 0, 0.55) 2.4px 2.4px 3.2px;
}
.active {
  transform: translate(0px, -23px) scale(0.8);
  padding-inline: 10px;
}
.btn:active {
  box-shadow: inset rgba(0, 0, 0, 0.55) 2.4px 2.4px 3.2px;
}
