@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courgette", cursiva;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: white;
}
.curtain {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.btn {
  color: white;
  padding: 10px 15px;
  background: linear-gradient(0deg, #000, #000, rgb(68, 68, 68));
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 1.2px;
  cursor: pointer;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
  box-shadow: rgba(0, 0, 0, 0.55) 2.4px 2.4px 3.2px;
}
.active {
  transform: translate(0px, -23px) scale(0.8);
  padding-inline: 10px;
}
.btn:active {
  box-shadow: inset rgba(0, 0, 0, 0.55) 2.4px 2.4px 3.2px;
}
